:root {
  --hover-color: #f5a841;
  --navbar-bg-color: #ffffff;
  --primary-color: #000000;
  --background-color: #fdf4e4;

}

section {
  padding: 4rem 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3
}
a:not(.btn):hover {
  color: var(--hover-color);
}

.navbar {
  background-color: var(--navbar-bg-color);
}

.navbar-nav .nav-link {
  color: var(--primary-color);
  font-size: 1.1rem;
  transition: color 0.5s ease;
}
.navbar-nav .nav-link:hover {
  color: var(--hover-color);
}

section.container {
  padding: 4rem 2rem;
}
@media screen and (min-width: 1024px) {
  section.container {
    padding: 4rem;
  }
  .navbar-nav .nav-item {
    padding: 0 1rem;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
}

/* HERO Section */
.hero {
  padding: 10rem 0;
  background-color: var(--background-color); 
}

.text-orange {
  color: var(--hover-color);
}

.text-underline {
  position: relative;
}

.text-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  z-index: -1;
}

.btn-orange {
  background-color: var(--hover-color);
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 15px 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease;
}

.btn-orange:hover {
  background-color: var(--hover-color);
}

.image-wrapper img {
  max-width: 300px;
  border-radius: 50%;
  border: 10px solid #fff; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 576px) {
  .hero {
    text-align: center;
  }
  .image-wrapper img {
    max-width: 70%; 
  }
}




/*ABOUT ME*/

.aboutme h2 {
  color: var(--hover-color);
}


.aboutme p {
  color: black;
  line-height: 1.6;
}


.aboutme img{
  max-width: 80%;
}



/*SERVICES*/
.services {
  background-color: var(--background-color)
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 20px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 6px 6px var(--hover-color);
}



/* PORTFOLIO */
section.portfolio {
  position: relative;
}

.portfolio {
    color: var(--hover-color) ;
}

section.portfolio .carousel-inner {
  height: 900px; 
}

section.portfolio .carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

section.portfolio .portfolio-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

section.portfolio .carousel-control-prev,
section.portfolio .carousel-control-next {
  width: 5%;
  top: 50%;
  transform: translateY(-50%);
}

section.portfolio .carousel-control-prev {
  left: -50px; 
}

section.portfolio .carousel-control-next {
  right: -50px; 
}

section.portfolio .carousel-control-prev-icon,
section.portfolio .carousel-control-next-icon {
  background-color: #ddd; 
  border-radius: 50%;
  padding: 10px;
}

@media (max-width: 768px) {
  section.portfolio .carousel-control-prev,
  section.portfolio .carousel-control-next {
    width: 10%;
    left: -30px;
    right: -30px;
  }

  section.portfolio .carousel-inner {
    height: 300px;
  }

  section.portfolio .carousel-item {
    padding: 0 10px; 
  }
}

/*CONTACT*/

.contact {
  padding: 4rem 0;
  background-color: var(--background-color);
}

.contact form .form-control {
  border: 2px solid #ddd;
  padding: 0.75rem;
}

.contact button {
  background-color: var(--hover-color);
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contact button:hover {
  background-color: var(--hover-color);
}

.contact .bg-dark {
  text-align: left;
  background-color: var(--hover-color);
}

.contact .bg-dark .text-info {
  color: #17a2b8 !important;
}

.contact .bg-dark .text-warning {
  color: #ffc107 !important;
}

.contact .bg-dark .text-danger {
  color: #dc3545 !important;
}


